/*Div containing whole game card -- makes everything center*/
#game{
    display: flex;
    flex-direction: column;
    height: 35em;
    width: 70%;
    border: 5px solid black;
    justify-content: center;
    padding: auto;
    margin: auto;
    background-color: mintcream;
}
/*div for score board*/
#score{

}
/*Player & comp score spots*/


/*Scores*/


/*For the buttons -- to get them all in line*/
.options{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
}

/*for pic with buttons once added in -- to get below */
.imgBtn {
    width: 120px;
}
button {
    padding: .8rem;
    width: 100px;
    border-radius: 10px;
    background-color: thistle;
    outline: none;
    border-color: thistle;
    border: none;
    cursor: pointer;
}
/*for restart button*/


/*for win / lose*/


/*Moves counter*/


/*any image styling needed*/
img{
    height:4em;
    padding: 1em;
}