/*div containing whole game card&*/ 
#game {
    display: flex;
    flex-direction: column;
    height: 35em;
    width: 70%;
    border: 2px solid black;
    justify-content: center;
    padding: auto;
    margin: auto;
    background-color: mintcream;
}

/*div containing score board*/ #score {
    display: flex;
    justify-content: space-between;
}

/*Player & computer score spots*/ #playerScore {
    margin-left: 4em;
}

#computerScore {
    margin-right: 4em;

}

#playerDude {
    margin-left: 1em;
}

#compDude {
    margin-left: 2.5em;

}

/* Scores*/
#playerCount,
#computerCount{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#moveCounter{
    margin: auto;
    margin-top: 0;
}

/*for the buttons*/
.options {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    text-align: center;
    margin:auto;
    margin-bottom: 0;
}
/*div containing option buttons with pictures*/
.imgBtn {
    width: 120px;
}
button {
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: thistle;
    outline: none;
    border-color: thistle;
    border: none;
    cursor: pointer;
}
/*for the restart button*/
#restart {
    margin: auto;
    text-align: center;
    display: none;
    background: thistle;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
}
/*game over or game won*/
#result {
    margin: auto; 
    margin-top: 20px;
    font-size: 1.2rem;
    color: cornflowerblue;
}
/*counter for moves left*/
#move {
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    margin-bottom: 0;
}
/*for sizing images*/
img {
    height: 4em;
    padding: 1em;
}